<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="onSelectMenu(1)">Member Search</button>
        <button ngbDropdownItem (click)="onSelectMenu(2)">Search Results</button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>